#******************************************************************************
# @(#) check_health.conf
#******************************************************************************
# This is the main configuration file for the check_health.sh tool.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# --- general settings ---
# maximum timeout for HC calls/plugins (seconds) [default: 60]
HC_TIME_OUT=60


#******************************************************************************
# End of FILE
#******************************************************************************
