#******************************************************************************
# @(#) check_aix_sysbackup.conf
#******************************************************************************
# This is a configuration file for the check_aix_sysbackup HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="no"

# full path to the location of mksysb images, the tool expects sub-directories
# per host underneath this location
# [default: /export/images]
backup_path=/export/images

# name of the file containing the mksysb output
# [default: mksysb.log]
mksysb_log=mksysb.log

# maximum days before backup gets flagged as 'too old'
# [default: 14]
backup_age=14


#******************************************************************************
# End of FILE
#******************************************************************************
