#******************************************************************************
# @(#) check_serviceguard_package_config.conf
#******************************************************************************
# This is a configuration file for the check_serviceguard_package_config HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="yes"

# Examples:
#[mypkg1]
#param1		value1
#param2		value2

#[mypkg2]
#param1		value1
#param2		value2


#******************************************************************************
# End of FILE
#******************************************************************************
