#******************************************************************************
# @(#) check_hpux_root_crontab.conf
#******************************************************************************
# This is a configuration file for the check_hpux_root_crontab HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="no"

# list of commands (or strings) that should appear in active cron entries
# Format:
#  cron:<cron_entry>
# Examples:
#cron:/opt/cfg2html/cfg2html_hpux.sh


#******************************************************************************
# End of FILE
#******************************************************************************
