#******************************************************************************
# @(#) check_hpux_patch_version.conf
#******************************************************************************
# This is a configuration file for the check_hpux_patch_version HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="yes"

# OE version that should be checked (version string as displayed by 'swlist')
# [default: none]
required_oe=""

# comma-separated list of SD patches that should be checked
# [default: none]
required_patches=""

# check that all installed filesets are configured?
# [default: yes]
check_filesets="yes"

# list of filesets to exclude from the check (comma-separated list)
# [default: none]
exclude_filesets=""


#******************************************************************************
# End of FILE
#******************************************************************************
