#******************************************************************************
# @(#) check_linux_sg_package_status.conf
#******************************************************************************
# This is a configuration file for the check_linux_sg_package_status HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="no"

# list of required package statuses
# Format:
#  sg:<package_name>:<parameter>=<value>
# Examples:
#sg:my_package:status=up


#******************************************************************************
# End of FILE
#******************************************************************************
