#******************************************************************************
# @(#) check_linux_es_status.conf
#******************************************************************************
# This is a configuration file for the check_linux_es_status HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="no"

# specify the URL of the Elasticsearch instance (host:port)
# [default: http://localhost:9200]
es_url="http://localhost:9200"


#******************************************************************************
# End of FILE
#******************************************************************************
