#******************************************************************************
# @(#) check_linux_sg_cluster_config.conf.dist
#******************************************************************************
# This is a configuration file for the check_linux_sg_cluster_config HC plugin.
# All lines starting with a '#' are comment lines.
# It is recommended to only monitor unique "param1 value2" combinations
#******************************************************************************

#[mycluster]
#param1		value1
#param2		value2


#******************************************************************************
# End of FILE
#******************************************************************************