#******************************************************************************
# @(#) check_linux_root_crontab.conf
#******************************************************************************
# This is a configuration file for the check_linux_root_crontab HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# list of commands (or strings) that should appear in active cron entries
/usr/bin/cfg2html-linux

#******************************************************************************
# End of FILE
#******************************************************************************
