#******************************************************************************
# @(#) check_linux_vz_ct_status.conf
#******************************************************************************
# This is a configuration file for the check_linux_openvz_ct_status HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify properties as displayed by the 'vzlist -a -H -o ctid,status,onboot' command
# [ctid;runtime_status;boot_status]
# runtime_status should be 'running' or 'stopped'
# boot_status should be 'yes' or 'no'
#100;running;yes


#******************************************************************************
# End of FILE
#******************************************************************************
