#******************************************************************************
# @(#) check_linux_vz_ct_counters.conf
#******************************************************************************
# This is a configuration file for the check_linux_vz_ct_counters HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# specify whether to also log passed health checks
# (warning: this may rapidly grow the HC log)
# [default: no]
log_healthy="yes"

# specify containers for which to check the UBC
# Format:
# [ct:<ct_id>]
# Examples:
# ct:100

#******************************************************************************
# End of FILE
#******************************************************************************
