#******************************************************************************
# @(#) check_hpux_file_age.conf
#******************************************************************************
# This is a configuration file for the check_hpux_file_age HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# file (full path); maximum age in minutes since last change
/var/adm/syslog/syslog.log;60

#******************************************************************************
# End of FILE
#******************************************************************************