#******************************************************************************
# @(#) check_hpux_sg_package_status.conf
#******************************************************************************
# This is a configuration file for the check_hpux_sg_package_status HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# list of required package statuses (format : "package_name:parameter=value")
# Examples:
#my_package|status=up


#******************************************************************************
# End of FILE
#******************************************************************************
