#******************************************************************************
# @(#) check_hpux_sg_cluster_status.conf.dist
#******************************************************************************
# This is a configuration file for the check_hpux_sg_cluster_status HC plugin.
# All lines starting with a '#' are comment lines.
# [default: indicates hardcoded script values if no value is defined here]
#******************************************************************************

# list of required cluster statuses (format : "parameter=value")
#status=up


#******************************************************************************
# End of FILE
#******************************************************************************